
/* Minimal menu styles: show top level only.
   Shadow this file to include your own. */

.menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu.main > ul ul {
  display: none;
}

.menu.main > ul > li {
  display: inline-block;
  padding-right: 1rem;
}
